h1{
	background: #6a5acd;
	font-size: 150%;
	color: #FFFFFF;
}
header{
	background: #ee82ee;
	text-align: center;
}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;
}

