@media only screen and (min-width: 320px){
nav{
	border: 1px solid #06425C;
	color: #06425C;
	background-color: #FFFFFF;
	padding-left: 8%;
}
nav a{
	box-sizing: border-box;
	display: inline-block;
	line-height: 45px;
	height: 60px;
	color: #FFFFFF;
	background-color:#486B02;
	text-decoration: none;
	margin: 1% 2% 1% 8%;
	padding: 1% 2%;
	border-radius: 25px;
}
	}

@media only screen and (min-width: 900px){
  nav{
    border:1px solid #000000;
    color: #06425C;
    background-color: #486B02;
    display: inline-block;
    width: 20%;
    min-width: 125px;
    margin-right:15px;
    height: 100vh;
    float: left;
  }
  nav a{
    display: block;
    line-height: auto;
	  height: 45px;
	  color: #FFFFFF;
	  background-color: #486B02;
	  text-decoration: none;
	  padding-left: 5px;
  }
.active{
		background-color: #666666;
		color: #ffffff;
		opacity: 1;
}
a:hover{
background-color: #b4b4b4; 
opacity: 0.7;
}
	}

body{
	margin: 1%;
	padding: 1%;
}
section{
  display: inline-block;
  width: 70%;
  height: 100vh;
  }
img{
    width: 10%;
    display: inline block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
	
