h1{
	background: #6a5acd;
	font-size: 150%;
}

header{
	background: #ee82ee;
	text-align: center;
}

h1{
	color: #FFFFFF;
}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;
}
h2{
	background: #00B7EA;
	font-color: #FFFFFF;
}
details{
		font-style: italic;
}
summary{
		font-style: normal;
}
footer{
		background: #FFFFFF;
}
